<div class="col-md-3" ng-controller="newCustomerController">
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Foto de Perfil</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="text-center">
                <img src="../../Images/userprofilepic.jpg" class="img-circle" alt="User Image">
            </div>   
            <br /> 
            <div class="form-group">
                <label for="exampleInputFile">Cambiar foto de Perfil</label>
                <input type="file" id="exampleInputFile" ng-model="New.Photo">
                <p class="help-block">Seleccione una foto</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-9" ng-controller="newCustomerController">
    <!-- general form elements disabled -->
    <!--<div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Registrar Cliente</h3>
        </div>
        <div class="box-body">
            <form role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.FirstName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Apellido</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.LastName">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="New.Birthday" placeholder="Ingresar ...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Edad</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.Age">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Genero</label>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked ng-model="New.Gender">
                                        Femenino
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-model="New.Gender">
                                        Masculino
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Correo Electrónico</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope" ng-model="New.Email"></i></span>
                                <input type="text" class="form-control" placeholder="Ingresar ...">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Celular:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-mobile-phone"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" data-mask="" ng-model="New.Cellphone">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Teléfono Fijo:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" data-mask="" ng-model="New.HomePhone">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Barrio / Colonia</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.Neighborhood">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <select class="form-control" ng-model="New.CityId">
                                <option selected>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Dirección Completa</label>
                    <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.CompleteAddress">
                </div>
                <div class="form-group">
                    <label>Pasatiempo</label>
                    <textarea class="form-control" rows="3" placeholder="Ingresar ..." ng-model="New.Hobby"></textarea>
                </div>

                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button type="submit" class="btn btn-primary" ng-click="update()">Registrar Usuario</button>
                        </div>
                        <div class="col-md-6 text-center">
                            <button type="button" class="btn btn-file" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>-->
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="RegisterClient#personalInfo" data-toggle="tab">Datos Personales</a></li>
            <li><a href="RegisterClient#academicEducationInfo" data-toggle="tab">Formaciones Academicas</a></li>
            <li><a href="RegisterClient#workExperienceInfo" data-toggle="tab">Experiencia Laboral</a></li>
            <li><a href="RegisterClient#referencesInfo" data-toggle="tab">Referencias</a></li>
            <li><a href="RegisterClient#additionalTrainingInfo" data-toggle="tab">Formaciones Adicionales</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="personalInfo">
                <section >
                    <h4 class="page-header">Datos Personales</h4>
                    <!--<div class="box box-info">-->
                    <!--<div class="box-header">
                        <h3 class="box-title">Registrar Cliente</h3>
                    </div>-->
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.FirstName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Apellido</label>
                                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.LastName">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha de Nacimiento</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="New.Birthday" placeholder="Ingresar ...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Edad</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.Age">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Genero</label>
                                        <div class="form-group">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked ng-model="New.Gender">
                                                    Femenino
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-model="New.Gender">
                                                    Masculino
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Correo Electrónico</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope" ng-model="New.Email"></i></span>
                                            <input type="text" class="form-control" placeholder="Ingresar ...">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Celular:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-mobile-phone"></i>
                                            </div>
                                            <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" data-mask="" ng-model="New.Cellphone">
                                        </div><!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Teléfono Fijo:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" data-mask="" ng-model="New.HomePhone">
                                        </div><!-- /.input group -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Barrio / Colonia</label>
                                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.Neighborhood">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <select class="form-control" ng-model="New.CityId">
                                            <option selected>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Dirección Completa</label>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.CompleteAddress">
                            </div>
                            <div class="form-group">
                                <label>Pasatiempo</label>
                                <textarea class="form-control" rows="3" placeholder="Ingresar ..." ng-model="New.Hobby"></textarea>
                            </div>

                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <button type="submit" class="btn btn-primary" ng-click="update()">Registrar Usuario</button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="button" class="btn btn-file" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div><!-- /.box-body -->
                    <!--</div>--><!-- /.box -->
                </section>
            </div>
            <div class="tab-pane" id="academicEducationInfo">
                <section >
                    <h4 class="page-header">Formaciones Academicas</h4>
                    
                        <div class="box-body">
                            <form role="form">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Estudios Academicos</h3>
                                        <div class="box-tools">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary pull-right">Nuevo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Programa</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->

                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Ideomas Manejados</h3>
                                        <div class="box-tools">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary pull-right" ng-click="">Nuevo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Programa</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->

                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Programas Manejados</h3>
                                        <div class="box-tools">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary pull-right" ng-click="">Nuevo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Programa</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </form>
                        </div>
                    
                </section>
            </div>
            <div class="tab-pane" id="workExperienceInfo">
                <section>
                    <h4 class="page-header">Experiencia Laboral</h4>

                    <div class="box-body">
                        <form role="form"></form>
                    </div><!-- /.box-body -->

                </section>
            </div>
            <div class="tab-pane" id="referencesInfo">
                <section>
                    <h4 class="page-header">Referencias</h4>

                    <div class="box-body">
                        <form role="form"></form>
                    </div><!-- /.box-body -->

                </section>
            </div>
            <div class="tab-pane" id="additionalTrainingInfo">
                <section>
                    <h4 class="page-header">Formaciones Adicionales</h4>

                    <div class="box-body">
                        <form role="form">
                            
                            <div class="form-group">
                                <label>Pasatiempo</label>
                                <textarea class="form-control" rows="3" placeholder="Ingresar ..." ng-model="New.Hobby"></textarea>
                            </div>

                            

                        </form>
                    </div>

                </section>
            </div>
        </div><!-- /.tab-content -->
    </div><!-- /.nav-tabs-custom -->

</div>

