<!-- Alert -->
<div ng-repeat="item in alertsTags" ng-class="{'alerts alert alert-success alert-dismissable': item.type == 'success', 'alerts alert alert-danger alert-dismissable': item.type == 'danger'}">

    <i class="fa fa-check" ng-show="item.type=='success'"></i>
    <i class="fa fa-ban" ng-show="item.type=='danger'"></i>
    <button type="button" class="close" ng-click="item.close()" aria-hidden="true">×</button>
    <h4>{{ item.title }}</h4>
    {{ item.msg }}
</div><!-- End Alert -->

<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Listado de Carreras</h3>
            <div class="pull-right box-tools">
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#careersInfo" title="Agregar" data-original-title="Collapse" ng-click="setActionCareer('add')">
                    <i class="fa  fa-plus"></i>
                </button>
                <button class="btn btn-info btn-sm" title="Refrescar" data-original-title="Collapse" ng-click="setCareerData()">
                    <i class="fa  fa-refresh"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div ng-show="load" style="border: 1px solid #ddd; padding-left: 40%; margin: 40px 5px; width: 100%;"><img src="../../Images/ajax-loader.gif" width="150" height="150" />CARGANDO...</div>
            <table class="table table-bordered" ng-show="!load">
                <tr>
                    <th href="#" ng-click="sort='Name' ; reverse=!reverse" title="Clic para ordenar">Carrera</th>
                    <th ng-click="sort='AcademicLevel.Name' ; reverse=!reverse" title="Clic para ordenar">Nivel Académico</th>
                    <th>Opciones</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input ng-model="search.Name" ng-class="reverse" class="form-control" type="text" placeholder="Buscar..." />                            
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat" ng-click="search.Name='';" title="Borrar"><i class="fa fa-eraser"></i></button>
                            </span>
                        </div>
                    </th>
                    <th colspan="1">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input ng-model="search.AcademicLevel.Name" ng-class="reverse" class="form-control" type="text" placeholder="Buscar..." />
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat" ng-click="search.AcademicLevel.Name='';" title="Borrar"><i class="fa fa-eraser"></i></button>
                            </span>
                        </div>
                    </th>
                    <th colspan="1"></th>
                </tr>
                <tr ng-repeat="career in careerList | filter:search:strict  | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit | orderBy:sort:reverse">
                    <td>{{career.Name}}</td>
                    <td>{{career.AcademicLevel.Name}}</td>
                    <td style="width: 10%;" align="center">
                        <button class="btn btn-info" data-toggle="modal" data-target="#careersInfo" ng-click="setActionCareer('edit',career)" title="Editar">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteCareersInfo" ng-click="setCareerToDelete(career)" title="Eliminar">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </table>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <label>Mostrando {{itemsInPage}} de {{careerList.length}} elementos</label>
                </div>
                <div class="col-md-4">
                    <pagination boundary-links="true" items-per-page="entryLimit" total-items="careerList.length" num-pages="noOfPages" max-size="maxSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </div>
                <div class="col-md-4">
                    <div class="col-xs-4">
                        <select class="form-control" ng-options="item as item for item in itemsPerPageList" ng-model="entryLimit" ng-change="setCareerData()"></select>
                    </div>
                    <div class="col-xs-8">
                        <label>Registros por página</label>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div>

</div>

<!-- ADD CAREER MODAL -->
<div class="modal fade" id="careersInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>{{career_modalTitle}}</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Nivel Académico</label>
                            <select class="form-control" ng-options="academicLevel.AcademicLevelId as academicLevel.Name for academicLevel in Career_AcademicLevels" ng-model="Career_AcademicLevel"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre de la Carrera</label>
                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="Career_Name">
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal" ng-click="careerClearData()">Cancelar</button>
                    <button type="submit" class="btn btn-primary text-center" data-dismiss="modal" ng-click="saveCareer(career)">{{career_buttonName}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteCareersInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>Borrar Carrera</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <label>¿Está seguro que desea borrar la Carrera?</label>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-primary text-center" data-dismiss="modal" ng-click="cancelCareertDelete()">No</button>
                    <button type="submit" class="btn btn-danger text-center" data-dismiss="modal" ng-click="deleteCareer()">Si</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->