<!-- Alert -->
<div ng-repeat="item in alertsTags" ng-class="{'alerts alert alert-success alert-dismissable': item.type == 'success', 'alerts alert alert-danger alert-dismissable': item.type == 'danger'}">
    <i class="fa fa-check" ng-show="item.type=='success'"></i>
    <i class="fa fa-ban" ng-show="item.type=='danger'"></i>
    <button type="button" class="close" ng-click="item.close()" aria-hidden="true">×</button>
    <h4>{{ item.title }}</h4>
    {{ item.msg }}
</div><!-- End Alert -->
<div class="form-box" id="login-box">
    <div class="header bg-blue-gradient">Cambiar Contraseña</div>

    <form ng-submit="saveNewPassword(oldPassword, newPassword, confirmPassword)" name="changePassForm" method="POST">
        <div class="body bg-gray">
            <alert ng-repeat="alert in alerts" type="danger" close="closeAlert(0)">{{alert.msg}}</alert>

            <div class="form-group" ng-class="{'has-error' : currentMessage!='' }">
                <input type="password" name="password" class="form-control" placeholder="Contraseña Actual" required ng-model="oldPassword" />
                <p class="help-block">{{currentMessage}}</p>
            </div>
            <div class="form-group" ng-class="{'has-error' : newMessage!='' }">
                <input type="password" name="newPassword" class="form-control" placeholder="Nueva Contraseña" required ng-model="newPassword" />
                <p class="help-block">{{newMessage}}</p>
            </div>
            <div class="form-group" ng-class="{'has-error' : confirmMessage!='' }">
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirmar Contraseña" required ng-model="confirmPassword" />
                <p class="help-block">{{confirmMessage}}</p>
            </div>
        </div>
        <div class="footer">
            <button type="submit" id="btnLogin" class="btn bg-blue-gradient btn-block">Guardar</button>
        </div>
    </form>
</div>
