<!-- Alert -->
<div ng-repeat="item in alertsTags" ng-class="{'alerts alert alert-success alert-dismissable': item.type == 'success', 'alerts alert alert-danger alert-dismissable': item.type == 'danger'}">

    <i class="fa fa-check" ng-show="item.type=='success'"></i>
    <i class="fa fa-ban" ng-show="item.type=='danger'"></i>
    <button type="button" class="close" ng-click="item.close()" aria-hidden="true">×</button>
    <h4>{{ item.title }}</h4>
    {{ item.msg }}
</div><!-- End Alert -->

<div class="col-md-3">
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Foto de Perfil</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="text-center">
                <img ng-show="New.Photo" ng-src="data:image/jpeg;base64,{{New.Photo}}" />
                <img ng-show="!New.Photo" src="../../Images/userprofilepic.jpg" id="imagen" class="img-circle" alt="User Image" ng-model="New.Photo">
            </div>
            <br />
            <div class="form-group required">
                <label for="exampleInputFile">Cambiar foto de Perfil</label>
                <input type="file" id="exampleInputFile" base-sixty-four-input required>
                <p class="help-block">Seleccione una foto</p>
            </div>
        </div>
    </div>

</div>


<div class="col-md-9">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="RegisterClient#personalInfo" data-toggle="tab">Datos Personales</a></li>
            <li><a href="RegisterClient#academicEducationInfo" data-toggle="tab">Información Académica</a></li>
            <li><a href="RegisterClient#workExperienceInfo" data-toggle="tab">Experiencia Laboral</a></li>
            <li><a href="RegisterClient#referencesInfo" data-toggle="tab">Referencias</a></li>
            <li><a href="RegisterClient#additionalTrainingInfo" data-toggle="tab">Información Adicional</a></li>
        </ul>
        <div class="tab-content">
            <!--Tab Datos Personales-->
            <div class="tab-pane active" id="personalInfo">
                <section>
                    <h4 class="page-header">Datos Personales</h4>
                    <div class="box-body">
                        <form role="form" name="editClientForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label>Identidad</label>
                                        <input type="text" class="form-control" id="identityNumber" placeholder="Ingresar ..." ng-model="New.IdentityNumber" ng-class="{'loadinggif': load}" required data-inputmask="&quot;mask&quot;: &quot;9999-9999-99999&quot;" input-mask>
                                        <!--<span style="color:red" ng-show="!New.FirstName">
                    <span ng-show="!New.FirstName">Nombre es requerido.</span>
                </span>-->
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label>Nombre(s)</label>
                                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.FirstName" ng-class="{'loadinggif': load}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label>Apellidos</label>
                                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.LastName" ng-class="{'loadinggif': load}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group required">
                                        <label>Fecha de Nacimiento</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="date" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-change="calculateAge()" ng-model="New.Birthday" ng-class="{'loadinggif': load}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group required">
                                        <label>Edad</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.Age" ng-class="{'loadinggif': load}" required data-inputmask="&quot;mask&quot;: &quot;99&quot;" input-mask>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group required">
                                        <label>Género</label>
                                        <div class="form-group">
                                            <div class="radio">
                                                <p>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="F" ng-model="New.Gender"  required>
                                                    Femenino
                                                </p>
                                            </div>
                                            <div class="radio">
                                                <p>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="M" ng-model="New.Gender" required>
                                                    Masculino
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Correo Electrónico</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input type="email" class="form-control" placeholder="alguien@ejemplo.com" ng-model="New.Email" ng-class="{'loadinggif': load}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label>Celular</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-mobile-phone"></i>
                                            </div>
                                            <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" ng-model="New.Cellphone" ng-class="{'loadinggif': load}" required input-mask>
                                        </div><!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Teléfono Fijo</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" ng-model="New.HomePhone" ng-class="{'loadinggif': load}" input-mask>
                                        </div><!-- /.input group -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--<div class="col-md-6">
                                    <div class="form-group">
                                        <label>Barrio / Colonia</label>
                                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.Neighborhood" ng-class="{'loadinggif': New.Neighborhood==undefined}" required>
                                    </div>
                                </div>-->
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label>Ciudad</label>
                                        <select class="form-control" ng-options="city.CityId as city.Name for city in Cities" ng-model="New.CityId" ng-class="{'loadinggif': load}" required>
                                            <option value="">--Seleccione una opción</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group required">
                                <label>Dirección Completa</label>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="New.CompleteAddress" ng-class="{'loadinggif': load}" required>
                            </div>
                        </form>
                    </div><!-- /.box-body -->
                    <!--</div>--><!-- /.box -->
                </section>

            </div><!--End Tab Datos Personales-->
            <!--Tab Formaciones Académicas-->
            <div class="tab-pane" id="academicEducationInfo">
                <section>
                    <h4 class="page-header">Formaciones Académicas</h4>
                    <div class="box-body">
                        <form role="form">
                            <!--Begin Estudios Academicos Box-->
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Estudios Académicos</h3>
                                    <div class="pull-right box-tools">
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#academicInfo" title="" data-original-title="Collapse" ng-click="clearAcademicEducation()">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <!--<th style="width: 10px">#</th>-->
                                            <th>Año</th>
                                            <th>País</th>
                                            <th>Ciudad</th>
                                            <th>Nivel Académico</th>
                                            <th>Título Obtenido</th>
                                            <th>Institución</th>
                                            <th class="col-md-2">Opción</th>
                                        </tr>

                                        <tr ng-repeat="education in academicEducations">
                                            <td>{{education.Year}}</td>
                                            <td>{{education.City.Country.Name}}</td>
                                            <td>{{education.City.Name}}</td>
                                            <td>{{education.AcademicLevel.Name}}</td>
                                            <td>{{education.TrainingName}}</td>
                                            <td>{{education.InstitutionName}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" ng-click="removeAcademicEducation($index)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#academicInfo" ng-click="fillAcademicEducation($index)" title="Editar"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                            </div>
                            <!-- End Estudios Academicos Box -->
                            <!--Begin Idiomas Manejados Box-->
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Idiomas Manejados</h3>
                                    <div class="pull-right box-tools">
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#languagesInfo" ng-click="clearKnownLanguage()" title="" data-original-title="Collapse">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <!--<th style="width: 10px">#</th>-->
                                            <th>Idioma</th>
                                            <th>Nivel</th>
                                            <th>Porcentaje</th>
                                            <th>Opción</th>
                                        </tr>
                                        <tr ng-repeat="knownLanguage in knownLanguages">
                                            <td>{{knownLanguage.Language.Name}}</td>
                                            <td>{{knownLanguage.LanguageLevel.Name}}</td>
                                            <td>{{knownLanguage.Percentage}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" ng-click="removeKnownLanguage($index)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#languagesInfo" ng-click="fillKnownLanguage($index)" title="Editar"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                            </div>
                            <!-- End Idiomas Manejados Box -->
                            <!--Begin Programas Manejados Box-->
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Programas Manejados</h3>
                                    <div class="pull-right box-tools">
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#programsInfo" ng-click="clearProgram()" title="" data-original-title="Collapse">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body ">
                                    <table class="table table-bordered">
                                        <tr>
                                            <!--<th style="width: 10px">#</th>-->
                                            <th>Programa</th>
                                            <th>Opción</th>
                                        </tr>
                                        <tr ng-repeat="knownProgram in knownPrograms">
                                            <td>{{knownProgram.Name}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" ng-click="removeKnownProgram($index)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#programsInfo" ng-click="fillKnownProgram($index)" title="Editar"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                            </div>
                            <!-- End Programas Manejados Box -->
                        </form>
                    </div>

                </section>
            </div><!--End Tab Formaciones Académicas-->
            <!--Tab Experiencia Laboral-->
            <div class="tab-pane" id="workExperienceInfo">
                <section>
                    <h4 class="page-header">Experiencia Laboral</h4>
                    <div class="box-body">
                        <form role="form">
                            <div class="box box-info">
                                <div class="box-header">
                                    <div class="pull-right box-tools">
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#experienceInfo" ng-click="clearWorkExperience()" title="" data-original-title="Collapse">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <!--<th style="width: 10px">#</th>-->
                                            <th>Inicio</th>
                                            <th>Fin</th>
                                            <th>País</th>
                                            <th>Ciudad</th>
                                            <th>Empresa</th>
                                            <th>Cargo Ocupado</th>
                                            <th>Opción</th>
                                        </tr>
                                        <tr ng-repeat="workExperience in workExperiences">
                                            <td>{{workExperience.StartDate | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{workExperience.EndDate | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{workExperience.City.Country.Name}}</td>
                                            <td>{{workExperience.City.Name}}</td>
                                            <td>{{workExperience.CompanyName}}</td>
                                            <td>{{workExperience.Charge}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" ng-click=" removeWorkExperience($index)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#experienceInfo" ng-click="fillWorkExperience($index)" title="Editar"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                            </div>
                        </form>
                    </div><!-- /.box-body -->

                </section>
            </div> <!--EndTab Experiencia Laboral-->
            <!--Tab Referencias-->
            <div class="tab-pane" id="referencesInfo">
                <section>
                    <h4 class="page-header">Referencias</h4>

                    <div class="box-body">
                        <form role="form">
                            <!--Begin Referencias Laborales Box-->
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Referencias Laborales</h3>
                                    <div class="pull-right box-tools">
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#workRefInfo" ng-click="clearWorkReference()" title="" data-original-title="Collapse">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <!--<th style="width: 10px">#</th>-->
                                            <th>Nombre</th>
                                            <th>Empresa</th>
                                            <th>Cargo</th>
                                            <th>Teléfono</th>
                                            <th>Correo Electrónico</th>
                                            <th>Ciudad</th>
                                            <!--<th>País</th>-->
                                            <th class="col-md-3">Opción</th>
                                        </tr>
                                        <tr ng-repeat="workReference in workReferences">
                                            <td>{{workReference.FirstName}} {{workReference.LastName}}</td>
                                            <td>{{workReference.CompanyName}}</td>
                                            <td>{{workReference.Charge}}</td>
                                            <td>{{workReference.Cellphone}}</td>
                                            <td>{{workReference.Email}}</td>
                                            <td>{{workReference.City.Name}}</td>
                                            <!--<td>{{workReference.Country.Name}}</td>-->
                                            <td>
                                                <button type="button" class="btn btn-danger" ng-click=" removeWorkReference($index)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#workRefInfo" ng-click="fillWorkReference($index)" title="Editar"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                            </div>
                            <!-- End Referencias Laborales Box -->
                            <!--Begin Referencias Personales Box-->
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Referencias Personales</h3>
                                    <div class="pull-right box-tools">
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#personalRefInfo" ng-click="clearPersonalReference()" title="" data-original-title="Collapse">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <!--<th style="width: 10px">#</th>-->
                                            <th>Nombre</th>
                                            <th>Ocupación</th>
                                            <th>Parentesco</th>
                                            <th>Teléfono</th>
                                            <th>Correo Electrónico</th>
                                            <th>Ciudad</th>
                                            <!--<th>País</th>-->
                                            <th class="col-md-2">Opción</th>
                                        </tr>
                                        <tr ng-repeat="personalReference in personalReferences">
                                            <td>{{personalReference.FirstName}} {{personalReference.LastName}}</td>
                                            <td>{{personalReference.Charge}}</td>
                                            <td>{{personalReference.Relationship}}</td>
                                            <td>{{personalReference.Cellphone}}</td>
                                            <td>{{personalReference.Email}}</td>
                                            <td>{{personalReference.City.Name}}</td>
                                            <!--<td>{{personalReference.Country.Name}}</td>-->
                                            <td>
                                                <button type="button" class="btn btn-danger" ng-click=" removePersonalReference($index)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#personalRefInfo" ng-click="fillPersonalReference($index)" title="Editar"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                            </div>
                            <!-- End Referencias Personales Box -->
                        </form>
                    </div>
                </section>
            </div><!--End Tab Referencias-->
            <!--Tab Formaciones Adicionales-->
            <div class="tab-pane" id="additionalTrainingInfo">
                <section>
                    <h4 class="page-header">Formaciones Adicionales</h4>
                    <div class="box-body">
                        <form role="form">
                            <!--Begin Formaciones Adicionales Box-->
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Formaciones Adicionales</h3>
                                    <div class="pull-right box-tools">
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#academicTrainingInfo" ng-click="clearTranning()" title="" data-original-title="Collapse">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <!--<th style="width: 10px">#</th>-->
                                            <th>Año</th>
                                            <th>País</th>
                                            <th>Ciudad</th>
                                            <th>Título de la Formación</th>
                                            <th>Institución</th>
                                            <th>Opción</th>
                                        </tr>
                                        <tr ng-repeat="tranning in Trannings">
                                            <td>{{tranning.Year}}</td>
                                            <td>{{tranning.City.Country.Name}}</td>
                                            <td>{{tranning.City.Name}}</td>
                                            <td>{{tranning.TrainingName}}</td>
                                            <td>{{tranning.InstitutionName}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" ng-click=" removeTranning($index)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#academicTrainingInfo" ng-click="fillTranning($index)" title="Editar"><i class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                            </div>
                            <!-- End Formaciones Adicionales Box -->
                            <!--Begin Pasatiempos Box-->
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Pasatiempos u otras activiades</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Actividades</label>
                                        <textarea class="form-control ng-pristine ng-valid ng-touched" rows="3" placeholder="Ingresar ..." ng-model="New.Hobby"></textarea>
                                    </div>
                                </div><!-- /.box-body -->
                            </div>
                            <!-- End Idiomas Manejados Box -->
                        </form>
                    </div>

                </section>
            </div> <!--End Tab Formaciones Adicionales-->

            <div class="box-footer">
                <div class="row">
                    <div class="col-md-1 text-center">
                        <button type="submit" class="btn btn-primary" ng-click="update()">Guardar</button>
                    </div>
                    <div class="col-md-3 text-center">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="back()">Cancelar</button>
                    </div>
                    <div class="has-error">
                        <p class="help-block" ng-show="!editClientForm.$valid">Complete todos los campos requeridos.</p>
                    </div>
                </div>
            </div>
        </div><!-- /.tab-content -->
    </div><!-- /.nav-tabs-custom -->

</div>

<!-- ADD ACADECIM INFO MODAL -->
<div class="modal fade" id="academicInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>{{textButton}} Formación Académica</h4>
            </div>
            <form action="#" method="post" name="academicFormEdit">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Año</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="Year" required data-inputmask="&quot;mask&quot;: &quot;9999&quot;" input-mask>
                        </div>
                        <div class="form-group col-md-5">
                            <label>País</label>
                            <select class="form-control" ng-options="country.CountryId as country.Name for country in Countries" ng-model="CountryId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label>Ciudad</label>
                            <select class="form-control" ng-options="city.CityId as city.Name for city in getCitiesByCountry(CountryId)" ng-model="CityId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Nivel Académico</label>
                            <select class="form-control" ng-options="academicLevel.AcademicLevelId as academicLevel.Name for academicLevel in AcademicLevels" ng-change="assignCareers()" ng-model="AcademicLevelId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Carrera</label>
                            <select class="form-control" ng-disabled="Career" ng-options="Career.CareerId as Career.Name for Career in Careers" ng-model="CareerId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Título Obtenido</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="TrainingName" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Nombre de la Institución</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="InstitutionName" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary text-center" data-dismiss="modal" ng-click="addAcademicEducation()">{{textButton}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- ADD LANGUAGES INFO MODAL -->
<div class="modal fade" id="languagesInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>{{textButton}} Idioma Manejado</h4>
            </div>
            <form action="#" method="post" name="languageFormEdit">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Idioma</label>
                            <select class="form-control" ng-options="Language.LanguageId as Language.Name for Language in Languages" ng-model="LanguageId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Nivel</label>
                            <select class="form-control" ng-options="LanguageLevel.LanguageLevelId as LanguageLevel.Name for LanguageLevel in LanguageLevels" ng-model="LanguageLevelId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Porcentaje</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="Percentage" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary text-center" data-dismiss="modal" ng-click="addKnownLanguage()">{{textButton}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- ADD PROGRAMS INFO MODAL -->
<div class="modal fade" id="programsInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>{{textButton}} Programa Manejado</h4>
            </div>
            <form action="#" method="post" name="programFormEdit">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre del Programa</label>
                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="NameProgram" required>
                    </div>

                    <div class="modal-footer clearfix">
                        <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Cancelar</button>
                        <button type="submit" data-dismiss="modal" class="btn btn-primary text-center" ng-click="addKnownProgram()">{{textButton}}</button>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- ADD WORK EXPERIENCE MODAL -->
<div class="modal fade" id="experienceInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>{{textButton}} Experiencia Laboral</h4>
            </div>
            <form action="#" method="post" name="workExperienceFormEdit">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Fecha Inicio</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="StartDate" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Fecha Fin</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="EndDate" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>País</label>
                            <select class="form-control" ng-options="Country.CountryId as Country.Name for Country in Countries" ng-model="WorkCountryId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Ciudad</label>
                            <select class="form-control" ng-options="City.CityId as City.Name for City in getCitiesByCountry(WorkCountryId)" ng-model="WorkCityId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Nombre de la Empresa</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="CompanyName" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Sector</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="CompanyArea" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Cargo Ocupado</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="Charge" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Tareas o Logros Realizados</label>
                            <textarea class="form-control" rows="3" placeholder="Ingresar ..." ng-model="Achievements" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary  text-center" ng-click="addWorkExperience()" data-dismiss="modal">{{textButton}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- ADD WORK REFERENCES MODAL -->
<div class="modal fade" id="workRefInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>{{textButton}} Referencia Laboral</h4>
            </div>
            <form action="#" method="post" name="workReferenceFormEdit">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre(s)</label>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="FirstNameWRef" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="LastNameWRef" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" ng-model="CellphoneWRef" required input-mask>
                                </div><!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Correo Electrónico</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="email" class="form-control" placeholder="alguien@ejemplo.com" ng-model="EmailWRef" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>País</label>
                            <select class="form-control" ng-options="country.CountryId as country.Name for country in Countries" ng-model="CountryIdWRef" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Ciudad</label>
                            <select class="form-control" ng-options="city.CityId as city.Name for city in getCitiesByCountry(CountryIdWRef)" ng-model="CityIdWRef" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Empresa</label>
                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="CompanyNameWRef" required>
                    </div>
                    <div class="form-group">
                        <label>Cargo</label>
                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="ChargeWRef" required>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary text-center" data-dismiss="modal" ng-click="addWorkReference()">{{textButton}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- ADD PERSONAL REFERENCES MODAL -->
<div class="modal fade" id="personalRefInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>{{textButton}} Referencia Personal</h4>
            </div>
            <form action="#" method="post" name="personalReferenceFormEdit">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre(s)</label>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="FirstNamePRef" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="LastNamePRef" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" ng-model="CellphonePRef" required input-mask>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Correo Electrónico</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="email" class="form-control" placeholder="alguien@ejemplo.com" ng-model="EmailPRef" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>País</label>
                            <select class="form-control" ng-options="country.CountryId as country.Name for country in Countries" ng-model="CountryIdPRef" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Ciudad</label>
                            <select class="form-control" ng-options="city.CityId as city.Name for city in getCitiesByCountry(CountryIdPRef)" ng-model="CityIdPRef" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ocupación</label>
                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="ChargePRef" required>
                    </div>
                    <div class="form-group">
                        <label>Parentesco</label>
                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="RelationshipPRef" required>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary text-center" data-dismiss="modal" ng-click="addPersonalReference()">{{textButton}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- ADD ADDITIONAL TRAINING MODAL -->
<div class="modal fade" id="academicTrainingInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>{{textButton}} Formación Adicional</h4>
            </div>
            <form action="#" method="post" name="trainigFormEdit">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>Año</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="_Year" required data-inputmask="&quot;mask&quot;: &quot;9999&quot;" input-mask>
                        </div>
                        <div class="form-group col-md-5">
                            <label>País</label>
                            <select class="form-control" ng-options="country.CountryId as country.Name for country in Countries" ng-model="_CountryId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label>Ciudad</label>
                            <select class="form-control" ng-options="city.CityId as city.Name for city in getCitiesByCountry(_CountryId)" ng-model="_CityId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Carrera</label>
                            <select class="form-control" ng-options="career.CareerId as career.Name for career in AllCarees" ng-model="_CareerId" required>
                                <option value="">--Seleccione una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Título de la formación</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="_TrainingName" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Nombre de la Institución</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="_InstitutionName" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary text-center" ng-click="addTranning()" data-dismiss="modal">{{textButton}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/ng-template" id="loadingModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa "></i>Cargando...</h4>
        </div>
        <form action="#" method="post" name="formReject">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.modal-content -->
</script>