<!-- Alert -->
<div ng-repeat="item in alertsTags" ng-class="{'alerts alert alert-success alert-dismissable': item.type == 'success', 'alerts alert alert-danger alert-dismissable': item.type == 'danger'}">

    <i class="fa fa-check" ng-show="item.type=='success'"></i>
    <i class="fa fa-ban" ng-show="item.type=='danger'"></i>
    <button type="button" class="close" ng-click="item.close()" aria-hidden="true">×</button>
    <h4>{{ item.title }}</h4>
    {{ item.msg }}
</div><!-- End Alert -->

    <!-- ALERT MODAL -->
    <div class="modal fade" id="clientAlert" tabindex="-1" role="dialog" aria-hidden="true" ng-show="showMsgErrorClient">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa "></i>Error</h4>
                </div>
                <form action="#" method="post">
                    <div class="modal-body">
                        <label> El cliente no existe. </label>
                    </div>
                    <div class="modal-footer clearfix">
                        <button type="button" class="btn btn-danger text-center" data-dismiss="modal" ng-click="enrollClient_ClearData()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <!-- Page to eroll client -->
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Solicitud de Servicios</h3>
        </div>
        <div class="box-body" ng-init="setClient()">
            <form name="enrollClientForm" method="post">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group required">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.FirstName" ng-class="{'loadinggif': load}" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group required">
                            <label>Apellido</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.LastName" ng-class="{'loadinggif': load}" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group required">
                            <label>Edad</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.Age" ng-class="{'loadinggif': load}" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--<div class="col-md-6">
                    <div class="form-group">
                        <label>Expediente #</label>
                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.CorrelativeCode" disabled>
                    </div>
                </div>-->
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label>Celular</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" ng-model="enrollClient.Cellphone" ng-class="{'loadinggif': load}" required input-mask>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Correo Electrónico de Facebook</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" placeholder="Ingresar ..." ng-class="{'loadinggif': load}" ng-model="enrollClient.FacebookEmail">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label>Correo Electrónico</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.Email" ng-class="{'loadinggif': load}" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>BBPIN</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-class="{'loadinggif': load}" ng-model="enrollClient.BBPin">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label>Dirección Residencia</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.CompleteAddress" ng-class="{'loadinggif': load}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Twitter</label>
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-class="{'loadinggif': load}" ng-model="enrollClient.Twitter">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label>Profesión/Oficio</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.Occupation" ng-class="{'loadinggif': load}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Porcentaje de Inglés</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.EnglishPercentage" ng-class="{'loadinggif': load}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group required">
                            <label>¿Estudia actualmente?</label>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked ng-model="enrollClient.IsStudying"  required>
                                        Si
                                    </label>

                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="0" ng-model="enrollClient.IsStudying" required>
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>¿Que estudia?</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.CurrentStudies" ng-class="{'loadinggif': load}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cantidad de clases en la Universidad</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.QtyClasses" ng-class="{'loadinggif': load}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label>Plazas a las que aspira</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.DesiredEmployment" ng-class="{'loadinggif': load}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label>Aspiración Salarial</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.WageAspiration" ng-class="{'loadinggif': load}" required>
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="enrollClient.HaveCar"> Posee Vehículo
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="enrollClient.HaveMotorcycle"> Posee Motocicleta
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="enrollClient.HaveLicense"> Posee Licencia
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tipo de Licencia </label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.LicenseType" ng-class="{'loadinggif': load}">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label>Referencias Personales Vigentes: (PREFERIBLEMENTE FAMILIARES CERCANOS)</label>
                            <div class="pull-right box-tools">
                                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#personalRefInfo" ng-click="clearPersonalReferenceEnrollClient()" title="" data-original-title="Collapse">
                                    <i class="fa  fa-plus"></i>
                                </button>
                            </div>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Nombre Completo</th>
                                        <th>Teléfono</th>
                                        <th>Parentesco</th>
                                        <th>Lugar de trabajo</th>
                                        <th>Opciones</th>
                                    </tr>
                                    <tr ng-repeat="reference in personalReferencesEnroll">
                                        <td>{{reference.FirstName}} {{reference.LastName}}</td>
                                        <td>{{reference.Cellphone}}</td>
                                        <td>{{reference.Relationship}}</td>
                                        <td>{{reference.CompanyName}}</td>
                                        <td>
                                            <button type="button" class="btn btn-info" id="editReference" data-toggle="modal" data-target="#personalRefInfo" ng-click="setReference(reference,'edit')" title="Editar"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-danger" id="deleteReference" data-toggle="modal" data-target="#deleteReferenceInfo" ng-click="deletePReference($index)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Mencione las últimas empresas donde a solicitado empleo, esto para no enviarlo nuevamente</label>
                            <textarea class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.CompaniesWithPreviouslyRequested" ng-class="{'loadinggif': load}" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <textarea class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.Comment" ng-class="{'loadinggif': load}" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-5 text-right">
                    <button type="submit" class="btn btn-primary" ng-click="saveEnrollClient()">Incribir Cliente</button>
                </div>
                <div class="col-md-2 text-center">
                    <!--<button ng-click="toggleEnrollModal()" class="btn btn-default">Rechazar</button>-->
                    <!--<button type="button" class="btn btn-warning" data-toggle="modal" ng-click="enrollClient.RejectionDescription=''" data-target="#rejectionInfo">Rechazar</button>-->
                    <button class="btn btn-default" ng-click="open()">Rechazar</button>
                </div>
                <div class="col-md-5 text-left">
                    <button type="submit" class="btn btn-danger" ng-click="backEnrollClients()">Cancelar</button>

                </div>
            </div>
        </div>
    </div>

<!-- ADD PERSONAL REFERENCES MODAL -->
<div class="modal fade" id="personalRefInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>{{textButton}} Referencia Personal</h4>
            </div>
            <form action="#" method="post" name="formPersonalRef">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="Reference.FirstName" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="Reference.LastName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 9999-9999&quot;" ng-model="Reference.Cellphone" required input-mask>
                                </div><!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-md-6" ng-show="action!='editar'">
                            <div class="form-group">
                                <label>Correo Electrónico</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="email" class="form-control" placeholder="Ingresar ..." ng-model="Reference.Email" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="action!='editar'">
                        <div class="form-group col-md-6">
                            <label>País</label>
                            <select class="form-control" ng-options="country.CountryId as country.Name for country in Countries" ng-model="Reference.CountryId" required></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Ciudad</label>
                            <select class="form-control" ng-options="city.CityId as city.Name for city in getCitiesByCountry(Reference.CountryId)" ng-model="Reference.CityId" required></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6" ng-show="action!='editar'">
                            <label>Ocupación</label>
                            <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="Reference.Charge" required>
                        </div>
                    <div class="form-group col-md-6">
                        <label>Lugar de trabajo</label>
                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="Reference.CompanyName" required>
                    </div>
                </div>
                    <div class="form-group">
                        <label>Parentesco</label>
                        <input type="text" class="form-control" placeholder="Ingresar ..." ng-model="Reference.Relationship" required>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary text-center" data-dismiss="modal" ng-click="insertPersonalReference()">{{textButton}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ADD REJECT-->
<div class="modal fade" id="rejectionInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>Rechazar Cliente</h4>
            </div>
            <form action="#" method="post" name="formReject" >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Causa de Rechazo</label>
                                <textarea class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.RejectionDescription" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary text-center" data-dismiss="modal" ng-click="enrollClient_cancel()">Aceptar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/ng-template" id="rejectModal.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>Rechazar Cliente</h4>
            </div>
            <form action="#" method="post" name="formReject">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Causa de Rechazo</label>
                                <textarea class="form-control" placeholder="Ingresar ..." ng-model="enrollClient.RejectionDescription" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger text-center" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
                    <button type="button" class="btn btn-primary text-center" data-dismiss="modal" ng-click="enrollClient_cancel()">Aceptar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
</script>

<script type="text/ng-template" id="loadingModal.html">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa "></i>Cargando...</h4>
        </div>
        <form action="#" method="post" name="formReject">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- /.modal-content -->
</script>