<!-- Alert -->
<div ng-repeat="item in alertsTags" ng-class="{'alerts alert alert-success alert-dismissable': item.type == 'success', 'alerts alert alert-danger alert-dismissable': item.type == 'danger'}">

    <i class="fa fa-check" ng-show="item.type=='success'"></i>
    <i class="fa fa-ban" ng-show="item.type=='danger'"></i>
    <button type="button" class="close" ng-click="item.close()" aria-hidden="true">×</button>
    <h4>{{ item.title }}</h4>
    {{ item.msg }}
</div><!-- End Alert -->

<div class="col-md-12">
    <!-- Chat box -->
    
        <div class="box box-success">
            <div class="box-header">

                <i class="fa fa-search"></i>
                <h3 class="box-title">Búsqueda de Clientes</h3>
                <div class="row">
                    <div class="col-md-offset-8">
                        <label>Filtros:</label>
                        <div isteven-multi-select
                             input-model="fields"
                             output-model="selectedCustomers"
                             button-label="text"
                             item-label="text"
                             translation="localLang"
                             tick-property="ticked"
                             max-height="70px"></div>
                    </div>
                </div>
                <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
                    <div class="btn-group" data-toggle="btn-toggle">

                    </div>
                </div>
            </div>

            <form ng-submit="searchClients(searchCustomer)" class="form-box">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" ng-model="searchCustomer" placeholder="Buscar..." />
                        <div class="input-group-addon btn btn-info" ng-click="searchClients(searchCustomer)"><i class="fa fa-search"></i></div>
                        <div class="input-group-addon btn btn-info" ng-click="refreshData()"><i class="fa fa-refresh"></i></div>
                    </div>
                </div>
            </form>
            <!-- chat item -->

            <div class="box-body chat" id="chat-box">
                <div ng-show="load" style="border: 1px solid #ddd; padding-left: 40%; margin: 40px 5px; width: 100%;"><img src="../../Images/ajax-loader.gif" width="150" height="150" />CARGANDO...</div>
                <div class="table-responsive">

                </div>
                <div ng-show="true" class="item row" ng-repeat="customer in customerData">
                    <!--<img ng-src="data:image/jpeg;base64,{{customer.Photo}}" class="online" />-->
                    <br />
                    <br />
                    <p class="message">
                        <a href="" class="name" ng-show="isSelectedField('FirstName') || isSelectedField('LastName')">
                            <small class="text-muted pull-right"><i class="fa fa-square"></i> {{customer.State.Name}}</small>
                            {{customer.FirstName}} {{customer.LastName}}
                        </a>
                    </p>
                    <div class="attachment row">
                        <table class="table">
                            <tbody>
                                <tr ng-show="isSelectedField('CorrelativeCode') || isSelectedField('IdentityNumber')">
                                    <th ng-show="isSelectedField('CorrelativeCode')">Correlativo:</th>
                                    <td ng-show="isSelectedField('CorrelativeCode')">{{customer.CorrelativeCode}}</td>
                                    <th ng-show="isSelectedField('IdentityNumber')">Identidad:</th>
                                    <td ng-show="isSelectedField('IdentityNumber')">{{customer.IdentityNumber}}</td>
                                </tr>
                                <tr ng-show="isSelectedField('Occupation') || isSelectedField('Age')">
                                    <th ng-show="isSelectedField('Occupation')">Profesión:</th>
                                    <td ng-show="isSelectedField('Occupation')">{{customer.Occupation}}</td>
                                    <th ng-show="isSelectedField('Age')">Edad:</th>
                                    <td ng-show="isSelectedField('Age')">{{customer.Age}}</td>
                                </tr>
                                <tr ng-show="isSelectedField('WageAspiration') || isSelectedField('Cellphone')">
                                    <th ng-show="isSelectedField('Cellphone')">Celular:</th>
                                    <td ng-show="isSelectedField('Cellphone')">{{customer.Cellphone}}</td>
                                    <th ng-show="isSelectedField('WageAspiration')">Salario sugerido:</th>
                                    <td ng-show="isSelectedField('WageAspiration')">{{customer.WageAspiration}}</td>
                                </tr>
                                <tr ng-show="isSelectedField('CompleteAddress')">
                                    <th>Dirección:</th>
                                    <td>{{customer.CompleteAddress}}</td>
                                </tr>
                                <tr ng-show="isSelectedField('Hobby')">
                                    <th>Pasatiempo:</th>
                                    <td>{{customer.Hobby}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <button class="btn btn-primary btn-sm btn-flat" ng-click="setScope(customer)">Ver Perfil</button>
                        </div>
                    </div><!-- /.attachment -->
                </div><!-- /.item -->
            </div><!-- /.chat -->

    </div>
</div>