<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="box-title">{{tittleVacantForm}}</h4>
        </div>
        <div ng-show="load" style="border: 1px solid #ddd; padding-left: 40%; margin: 40px 5px; width: 100%;"><img src="../../Images/ajax-loader.gif" width="150" height="150" />CARGANDO...</div>
        <div class="box-body" ng-show="!load">
            <form name="vacantForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-6 required">
                            <label>Empresa</label>
                            <select class="form-control" name="companyName" ng-options="vacant_company.CompanyId as vacant_company.Name  for vacant_company in vacant_companyList" ng-model="vacant_company.CompanyId" required>
                                <option value="">-- Seleccione una opción --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 required">
                            <label>Nivel de la Vacante</label>
                            <select class="form-control" name="vacantLevel" ng-options="vacant_vacantLevel.VacantLevelId as vacant_vacantLevel.Name for vacant_vacantLevel in vacant_vacantLevelList" ng-model="vacant_vacantLevel.VacantLevelId" required>
                                <option value="">-- Seleccione una opción --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-12 required">
                            <label>Nombre de la Vacante</label>
                            <input type="text" name="vacantName" class="form-control" placeholder="Ingresar ..." ng-model="vacant_VacantName" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-12 required">
                            <label>Descripción del Cargo</label>
                            <textarea class="form-control" placeholder="Ingresar ..." ng-model="vacant_ChargeDescription" required />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <label>Requisitos</label>
                            <textarea class="form-control" name="requirements" placeholder="Ingresar ..." ng-model="vacant_Requirements"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6 required">
                            <label>Nivel Académico</label>
                            <select class="form-control" name="academicLevel" ng-options="vacant_academicLevel.AcademicLevelId as vacant_academicLevel.Name for vacant_academicLevel in vacant_academicLevelList" ng-model="vacant_academicLevel" ng-change="getCareersByAcademicLevel()" required>
                                <option value="">-- Seleccione una opción --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 required">
                            <label>Carrera</label>
                            <select class="form-control" name="career" ng-options="vacant_career.CareerId as vacant_career.Name for vacant_career in vacant_careerList" ng-model="vacant_career.CareerId" required>
                                <option value="">-- Seleccione una opción --</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group col-md-3 required">
                            <label>Genero</label>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="genderI" value="Indiferente" ng-model="vacant_Gender" checked required>
                                        Indiferente
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="genderF" value="Femenino" ng-model="vacant_Gender" required>
                                        Femenino
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="genderM" value="Masculino" ng-model="vacant_Gender" required>
                                        Masculino
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-5 required">
                            <label>Rango de Edad</label>
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label>Desde:</label>
                                    <input type="text" name="starAge" class="form-control" placeholder="Desde ..." ng-model="vacant_StartAge" required>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Hasta:</label>
                                    <input type="text" name="endAge" class="form-control" placeholder="Hasta ..." ng-model="vacant_EndAge" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Cantidad de Vacantes Disponibles</label>
                            <input type="text" name="quantity" class="form-control" placeholder="Ingresar ..." ng-model="vacant_Quantity">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4 required">
                            <label>Ciudad</label>
                            <select class="form-control" name="city" ng-options="vacant_city.CityId as vacant_city.Name for vacant_city in vacant_cityList" ng-model="vacant_city.CityId" required>
                                <option value="">-- Seleccione una opción --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 required">
                            <label>Tipo de Entrevista</label>
                            <select class="form-control" name="interviewType" ng-options="vacant_interviewType.InterviewTypeId as vacant_interviewType.Name for vacant_interviewType in vacant_interviewTypeList" ng-model="vacant_interviewType.InterviewTypeId" required>
                                <option value="">-- Seleccione una opción --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 required">
                            <label>Fecha de Solicitud</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" name="requestDate" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="vacant_RequestDate" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="showVacantCoveredDate">
                        <div class="form-group col-md-6">
                            <label>Estado</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" name="status" ng-checked="vacant_Active" ng-model="vacant_Active">
                                </span>
                                <input type="text" class="form-control" value="Abierta" ng-show="vacant_Active">
                                <input type="text" class="form-control" value="Cerrada" ng-show="!vacant_Active">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="showVacantCoveredDate">
                        <div ng-show="!vacant_Active">
                            <div class="form-group col-md-6">
                                <label>Fecha de Cobertura de la Vacante</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="date" name="coveredDate" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" ng-model="vacant_CoveredDate">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Tiempo de Cobertura de la Vacante</label>
                                <div class="input-group">
                                    <input type="text" name="endAge" class="form-control" placeholder="Ingresar ..." ng-model="vacant_CoveredTime" required>
                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre del Asesor</th>
                                        <th>Alias del Asesor</th>
                                        <th>Número de Perfiles</th>
                                    </tr>
                                    <tr ng-repeat="employee in employeesList">
                                        <td align="center"> {{$index + 1}}</td>
                                        <td> {{employee.Employee.FirstName}} {{employee.Employee.LastName}}</td>
                                        <td> {{employee.Employee.EmployeeAlias}}</td>
                                        <td>
                                            <input type="text" ng-model="employee.NumberOfProfiles" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
            </form>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-primary" ng-click="saveVacant()">{{buttonNameVacantForm}}</button>
                </div>
                <div class="col-md-6 text-left">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vacant_cancelRedirect()">Cancelar</button>
                </div>
            </div>
            <div class="has-error">
                <p class="help-block" ng-show="!vacantForm.$valid">* Complete todos los campos requeridos.</p>
            </div>
        </div>
        
    </div>
</div>

