<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">Listado de Plantillas de Contratos</h3>
            <div class="pull-right box-tools">
                <button class="btn btn-info btn-sm" ng-click="contract_addNewRedirect()" title="Agregar">
                    <i class="fa  fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th align="center" style="width: 268px;">Nombre</th>
                    <th>Descripción</th>
                    <th style ="width: 78px;">Activo</th>
                    <th style="width: 218px;">Opción</th>
                </tr>
                <tr ng-repeat="contract in contractTemplateList">
                    <td>{{contract.Name}}</td>
                    <td>{{contract.Description}}</td>
                    <td align="center">
                        <input type="checkbox" ng-checked="contract.Active" ng-click="contract_changeActiveContract($index)">
                    </td>
                    <td align="center">
                        <button class="btn btn-info" ng-click="contract_viewRedirect($index)" title="Ver">
                            <i class="fa fa-file-text"></i>
                        </button>
                        <button class="btn btn-info" ng-click="contract_editRedirect($index)" title="Editar">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteContractInfo" ng-click="setContractToDelete($index)" title="Eliminar">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteContractInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa "></i>Borrar Plantilla de Contrato</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <label>¿Está seguro que desea borrar la Plantilla de Contrato?</label>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-primary text-center" data-dismiss="modal" ng-click="cancelContractDelete()">No</button>
                    <button type="submit" class="btn btn-danger text-center" data-dismiss="modal" ng-click="deleteContractTemplate()">Si</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

