
<div class="form-box" id="login-box" ng-show="!forgotPass && !resetPass">
    <div class="header bg-blue-gradient">Iniciar Sesión</div>

    <form ng-submit="validateUser(UserName, Password, loginForm.$valid)" name="loginForm" method="POST">
        <div class="body bg-gray">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(0)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                <input type="text" name="username" class="form-control" placeholder="Usuario" required ng-model="UserName" />
                <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Usuario es obligatorio.</p>
            </div>
            <div class="form-group" ng-class="{'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                <input type="password" name="password" class="form-control" placeholder="Contraseña" required ng-model="Password" />
                <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Contraseña es obligatoria.</p>
            </div>
            <div class="form-group">
                <input type="checkbox" name="remember_me" /> Recordarme
            </div>
        </div>
        <div class="footer">
            <button type="submit" id="btnLogin" class="btn bg-blue-gradient btn-block">Ingresar</button>

            <p><a href="" ng-click="forgotPass=true">Olvidé mi contraseña</a></p>
            <p><a href="" ng-click="resetPass=true">Cambiar mi contraseña</a></p>
        </div>
    </form>
</div>

<div ng-include="'Users/ForgotPassword'" ng-show="forgotPass"></div>
<div ng-include="'Users/ResetPassword'" ng-show="resetPass"></div>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>-->
