<div class="form-box" id="login-box">
    <div class="header bg-blue-gradient">Olvidé mi Contraseña</div>

    <form ng-submit="validateUser(UserName, Password, loginForm.$valid)" name="loginForm" method="POST">
        <div class="body bg-gray">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(0)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                <input type="text" name="username" class="form-control" placeholder="Usuario" required ng-model="UserName" />
                <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Usuario es obligatorio.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                <input type="text" name="username" class="form-control" placeholder="Usuario" required ng-model="UserName" />
                <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Usuario es obligatorio.</p>
            </div>
            <!--<div class="form-group">
                <input type="checkbox" name="remember_me" /> Recordarme
            </div>-->
        </div>
        <div class="footer">
            <button type="submit" id="btnLogin" class="btn bg-blue-gradient btn-block" ng-click="requestChangePassword()">Guardar</button>
            <!--<p><a href="#/ForgotPassword">Olvidé mi contraseña</a></p>-->
        </div>
    </form>
</div>
