<!-- Content Header (Page header) -->
<section class="content-header">
    <h3>
        Página Principal
    </h3>
        
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Quienes somos</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <p>
                                Somos una Empresa de reclutamiento, pre-selección y colocación de personal en San Pedro Sula y sus ciudades aledañas. Manejamos clientes de Recursos Humanos Externos a la Empresa privada, así como una cartera de clientes que a diario nos solicitan personal para sus diferentes vacantes.
                                <br />
                                Creemos que al colocar una persona en determinada empresa ganamos todos: GANA EL CONTRATADOR. GANA EL CONTRATADO. GANA EL COLOCADOR.
                            </p>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Nuestra Misión</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <p>
                                Transformar y modernizar las empresas de Honduras siendo un brazo externo de Calidad y responsabilidad, reduciendo los procesos y costos de nuestros clientes a través del liderazgo.
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <!-- right column -->
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Nuestra Visión</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <p>
                                Ser la mejor empresa de servicios externos, aplicando innovación, calidad y eficiencia; brindando así mayores oportunidades y beneficios para nuestros clientes.
                            </p>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Nuestra Propuesta de Valor</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <div class="row" >
                                <div class="col-md-2"></div>
                                <div class="col-md-9">
                                    <img src="../../Images/PropuestaDeValor_AccionLaboral2.jpg" />
                                    <label></label>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Carousel</h3>
                    </div>
                    <div class="box-body">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://placehold.it/900x500/39CCCC/ffffff&text=I+Love+Bootstrap" alt="First slide">
                                    <div class="carousel-caption">
                                        First Slide
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://placehold.it/900x500/3c8dbc/ffffff&text=I+Love+Bootstrap" alt="Second slide">
                                    <div class="carousel-caption">
                                        Second Slide
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://placehold.it/900x500/f39c12/ffffff&text=I+Love+Bootstrap" alt="Third slide">
                                    <div class="carousel-caption">
                                        Third Slide
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>
    </section>
</section>